# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnpm
.pnpm-store
package-lock.json
yarn.lock

# Build artifacts
/.next/
/out/

# Local Environment Variables


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs and editors
/.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Temporary files
*.tmp
*.bak
*.swp

# Misc
.vercel
/coverage
*.tsbuildinfo
node_modules

